services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:3000:3000"
    env_file:
      - backend/.env
    environment:
      - TZ=Europe/Berlin
    restart: unless-stopped
    volumes:
      - ./backend/logs:/app/logs
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:8080:3000"
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge